

.Swiper1x6Element{
    width:100%;
    overflow: auto;
}

.Swiper1x6Element p{
    font-size: small;
    margin: 2px;
    color:gray
}

.Swiper1x6Element p:first-child{
    color:white;
    font-weight: bold;
}


.Swiper1x6Element:hover{
    opacity: 70%;
}


.Swiper1x6Element p:hover{
    cursor: pointer;
    text-decoration: underline;
}

