

/*--------------------------------- Swiper 2x5  ---------------------------------*/

.Swiper2x6Element{
    width:100%;
    overflow: auto;
    padding-top:10%;
}


.Swiper2x6Element p{
    font-size: small;
    margin: 2px;
    color:gray
}

.Swiper2x6Element p:first-child{
    color:white;
    font-weight: bold;
}

.Swiper2x6Element:hover{
    opacity: 70%;
}

.Swiper2x6Element p:hover{
    cursor: pointer;
    text-decoration: underline;
}

