

.Swiper1x2Element{
    width:100%;
    overflow: auto;
}

.Swiper1x2Element p{
    font-size: medium;
    margin: 2px;
    color:gray;
    margin: 5px auto 5px auto;
}

.Swiper1x2Element p:first-child{
    color:white;
    font-weight: bold;
}


.Swiper1x2Element:hover{
    opacity: 70%;
}


.Swiper1x2Element p:hover{
    cursor: pointer;
    text-decoration: underline;
}

.playIconSwiper1x2{
    position: absolute;
    right:5%;
    bottom:5%;
    display: block;
    color: white;
    cursor: pointer;
}
 
.playIconSwiper1x2:hover {
    color: red;
    cursor: pointer;
}
 
.overlayText {
    position: absolute;
    left:3%;
    bottom:5%;
    width:60%;
    display: block;
    color: white;
}

@media only screen and (max-width: 720px) {
    .overlayText {
       display: none;
    }
}    