.leftMenu{
    background-color: rgb(46, 46, 46);
    position: fixed;
    left:0;
    width:20%;
    min-width:200px;
    height:100%;
    padding-top:0;
    padding-bottom:0;
}

.logo{
    display: inline-block;
}

.leftMenuIcon{
   padding-left: 30px;
}

.leftMenuLogoContainer{
    display: inline-block;
    width:100%;
}

