.leftMenu{
    background-color: rgb(46, 46, 46);
    position: fixed;
    left:0;
    width:250px;
    max-width:20%;
    height:100%;
    padding-top:0;
    padding-bottom:0;
    overflow:hidden;
}

.logoContainer{
    font-size: 20px;
}

.leftMenu .logoContainer{
    display: flex;
}

.leftMenuIcon, .logo{
   padding: 15px 20px 0 30px;  
}

.iconTextContainer{
    display: flex;
    height: 40px;
}

.bottomContainer{
    position:fixed;
    bottom: 5%;
}