.mainFeed{
    text-align: left;
    width:76%;
    float: right;
    padding: 100px 2% 0 2%;
    max-width: calc(100% - 250px);
    
}

.featured{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

hr.solid {
    border: 0.11px solid rgb(63, 63, 63);
  }


.swiper1x5Buttons:hover{
    color:red;
}

/*--------------------------------- Swiper 2x5  ---------------------------------*/

.swiper2x5Element{
    width:100%;
    overflow: auto;
}

/* .swiper2x5Element .swiper2x5Image:last-child{
    border:1px solid red;
} */

.swiper2x5Image{
    width: 100%;
    border-radius: 15px;
}


.swiper2x5Image:hover{
    opacity: 70%;
}

.swiper2x5Element p{
    font-size: small;
    margin: 2px;
    color:gray;
}

.swiper2x5Element p:first-child{
    color:white;
    font-weight: bold;
}
  