.mainFeed{
    padding-top: 100px;
    text-align: left;
    width:80%;
    float: right;
    max-width: calc(100% - 250px);
}

.featured{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
	align-content: stretch;
}

hr.solid {
    border: 0.11px solid rgb(63, 63, 63);
  }

/*--------------------------------- Swiper 1x5  ---------------------------------*/

.swiper1x5Carousel{
    display: flex;
}

.swiper1x5Element{
    width:20%;
    height: 15%;
    margin:1%;
    overflow: auto;
}

.swiper1x5Image{
    max-width: 100%;
    border-radius: 20px;
}

.swiper1x5Image:hover{
    opacity: 70%;
}

.swiper1x5Element p{
    font-size: small;
    margin: 2px;
    color:gray
}

.swiper1x5Element p:first-child{
    color:white;
    font-weight: bold;
}








  