.musicPlayerContainer{
    position: fixed;
    right:0;
    text-align: left;
    background-color: rgb(54, 54, 54);
    width:85%;
    max-width: calc(100% - 200px);
    z-index: 2;
}

/* --------------------------------- rhap => React h5 audio player ---------------------------------  */

.rhap_container{
    background-color: rgb(68, 68, 68);
    margin:auto;
    margin-top:10px;
    margin-bottom: 10px;
}

.rhap_time, .rhap_progress-indicator{
    display: none;
}

.rhap_download-progress{
    background-color: gray;
}

.rhap_progress-filled{
    background-color: white;
}

.rhap_main-controls{
   
}