.musicPlayerContainer{
    position: fixed;
    right:0;
    text-align: left;
    background-color: rgba(48, 48, 48, 0.95);
    width:85%;
    max-width: calc(100% - 200px);
    z-index: 2;
}

.rhap_header {
    display: flex;
    margin: auto;
}    

/* --------------------------------- rhap => React h5 audio player ---------------------------------  */

.rhap_container{
    background-color: rgb(68, 68, 68);
    margin:auto;
    margin-top:10px;
    margin-bottom: 10px;
}

.rhap_time, .rhap_progress-indicator{
    display: none;
}

.rhap_download-progress{
    background-color: gray;
}

.rhap_progress-filled{
    background-color: white;
}

/* Prev Play Pause Next */

.rhap_main-controls{
    position: absolute;
    top:20px;
    left:130px;
}

/* Shuffle button */

.rhap_additional-controls{
    position: absolute;
    top:25px;
    left:100px;
}

/* Volume */

.rhap_volume-container{
    position: relative;
    left:50%;
}

