

.swiper1x5Element{
    width:100%;
    overflow: auto;
}

.swiper1x5Element p{
    font-size: small;
    margin: 2px;
    color:gray
}

.swiper1x5Element p:first-child{
    color:white;
    font-weight: bold;
}


.swiper1x5Element:hover{
    opacity: 70%;
}


.swiper1x5Element p:hover{
    cursor: pointer;
    text-decoration: underline;
}
